---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- Include the script that builds the page and powers Decap CMS -->
        <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
